/* Credit to https://www.fontsquirrel.com/fonts/list/foundry/dalton-maag-ltd for this amazing font */
@font-face {
  font-family: 'Ubuntu Mono';
  src: url('ubuntumono-r-webfont.woff2') format('woff2'),
    url('ubuntumono-r-webfont.woff') format('woff');
}

body, html {
  height:100%;
  margin:0;
  position:relative;
  background-color: #000000;
  resize: none;
}

#text {
    font-style: 'Ubuntu Mono';
}

div {
  display: inline-block;
}

.light {
  margin-top: 20px;
  padding-left: 50px;
  /*color: #47F323;*/
  color: #ffffff;
  font-size: 1.75em;
  /*letter-spacing: 1px;*/
}

.green {
  color: #47F323;
}

.red {
  color: #ff0000;
}

.highlighted {
  background-color: #4AF626;
  margin-left: 1px;
}

.before_last {
  margin-right: -1px;
}
