body, html {
  height:100%;
  margin:0;
  position:relative;
  background-color: #000000;
  resize: none;
}

.light {
  margin-left: 30px;
  margin-top: 20px;
  /*color: #47F323;*/
  color: #ffffff;
  font-size: 1.75em;
  font-style: Ubuntu;
}

.green {
  color: #47F323;
}

